@page
@model ProjectApplication.Views.Admin.Index

@{
    Layout = "_LayoutAdmin";
}

@section content {
    <!-- Contenido principal exclusivo del administrador aquí -->
    <div class="admin-content">
        <h1>Bienvenido al área de administrador</h1>
        <!-- Aquí puedes agregar el contenido adicional del área de administrador -->
    </div>
}
