@page
@using ProjectApplication.Views.Shared
@model ProjectApplication.Views.ServiceType.Index

@{
    Layout = "_LayoutAdmin";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Tipo de servicio</title>
</head>
<body>
<a class="btn btn-success" href="/ServiceType/Create">Crear +</a>
<table class="table-responsive">
    <thead>
    <tr>
        <th class="text-center">Nombre</th>
    </tr>
    </thead>
    <tbody>
    
    <tr>

    </tr>
    </tbody>

</table>
</body>
</html>